<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Batman</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea est facere quisquam quis. Aspernatur culpa doloribus saepe. Totam exercitationem rerum voluptatibus, id ipsam, praesentium maxime aliquam deleniti et voluptatem quos.
            </p>
        </div>

    </div>

    <div class="row">

        <div class="col-4">
            <img src="assets/img/batman.png" class="img-thumbnail">
        </div>

    </div>

   {{> footer}}
   
</body>

</html>